html, body {
    height: 100%;
    background-color: #eeeeee;
    font-family: 'sans serif';
    color: #666;
}

a {
  text-decoration: none;
}

.btn-danger {
  background-color: #aa4444;
  border-color: #aa4444;
}

.btn-outline-danger {
  border-color: #aa4444;
  color: #aa4444 !important;
}

.text-nodered {
  color: #aa4444 !important;
}

.navlink {
  color: #999 !important;
}

.bg-primary {
  background-color:#6c757d !important;
}

.footer, .nodered-dark {
    background-color:#333 !important;
    color:#333 !important;
}

.spinner-div {
    display: inline-block;
    padding: 20px;
  }
  .spinner-circle {
    width: 56px;
    height: 56px;
    position: relative;
    margin: 20px;
  }
  .spinner {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.3);
    border-right: 5px solid #aa4444;
    animation: rotate--spinner 1.6s linear infinite;
    box-sizing: border-box;
  }
  .spinner-img {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
  }
  
  @keyframes rotate--spinner {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

.dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  color: #3bd671;
  background: #3bd671;
  position: relative;
  -ms-transform: none;
  transform: none;
}
